@using DPVreony.Website.Features.Articles
@inherits StatiqRazorPage<DPVreony.Website.Features.Articles.ArticleMetadataModel>
<table>
    <tr>
        <th>Article Status</th>
        <td>@Model.Status.ToString()</td>
    </tr>
    <tr>
        <th>Article Version</th>
        <td>@Model.Version.ToString()</td>
    </tr>
    <tr>
        <th>First Written</th>
        <td>@Model.FirstRevision.ToYearMonthDayString()</td>
    </tr>
    <tr>
        <th>Last Revision</th>
        <td>@Model.LastRevision.ToYearMonthDayString()</td>
    </tr>
    <tr>
        <th>Next Review</th>
        <td>@Model.NextReview.ToYearMonthDayString()</td>
    </tr>
    <tr>
        <th>License</th>
        <td>MIT</td>
    </tr>
</table>
