@page
@using DPVreony.Website.Features.OpenSource
@{
    var dpvreonyWebsite = new InvolvementModel(
        "DPVreony website",
        "This website with articles around projects and concepts being produced.",
        GetDPVreonyOrgGithubProject("dpvreonywebsite"),
        null);

    var documentationWebsite = new InvolvementModel(
        "DPVreony Documentation website",
        "Technical Documentation Website for Open Source projects, powered by DocFx.",
        GetDPVreonyOrgGithubProject("documentation"),
        null);

    var vetuviem = new InvolvementModel(
        "Vetuviem",
        "Vetuviem is an extension for ReactiveUI to aid in producing re-usable View to ViewModel binding logic. It generates source code around control libraries to provide a DSL model that can be combined with helper methods to allow teams to have a standard codebase of common binding behaviors.",
        GetDPVreonyOrgGithubProject("vetuviem"),
        [new ArticleModel("Designing Vetuviem", GetArticle("designing-vetuviem"))]);

    var gripe = new InvolvementModel(
        "Gripe With Roslyn",
        "A series of Roslyn analyzers, MSBuild tasks and Dot Net Tools aimed at mitigating issues experienced during software development. Whilst its an opinionated project it is a good example of how you can use Roslyn Analysis and tooling to encourage conformance within development processes.",
        GetDPVreonyOrgGithubProject("gripe"),
        null);

    var netTestRegimentation = new InvolvementModel(
        "Net Test Regimentation",
        "A library built on top of XUnit to help produce re-usable test logic and a defined structure for the type of tests carried out on classes and methods.",
        GetDPVreonyOrgGithubProject("nettestregimentation"),
        null);

    var nucleotide = new InvolvementModel(
        "Nucleotide",
        "A code generation toolkit aimed at reducing the amount of time developers spend involved in boiler plate code by generating the code from DSL models. This allows developers to spend their time on more useful contributions.",
        GetDPVreonyOrgGithubProject("nucleotide"),
        null);

    var whipstaff = new InvolvementModel(
        "Whipstaff",
        "Whipstaff is a collection of utilities to reduce overhead on developing .NET solutions. It's acts as a middleware glue for combining other packages and frameworks.",
        GetDPVreonyOrgGithubProject("whipstaff"),
        null);

    var githubActionsWorkflows = new InvolvementModel(
        "Github Actions Common Workflows",
        "Common workflows for Github Actions to streamline CI/CD processes.",
        GetDPVreonyOrgGithubProject("github-actions-workflows"),
        null);

    var netRepoTemplate = new InvolvementModel(
        "Net Repo Template",
        "A template for .NET repositories to standardize project structure and configuration.",
        GetDPVreonyOrgGithubProject("net-repo-template"),
        null);

    var ensureEnvironmentProtected = new InvolvementModel(
        "Ensure Environment Protected",
        "Github Actions to ensure an environment is protected and secure for Continuous Integration/Continuous Deployment (CI/CD).",
        GetDPVreonyOrgGithubProject("ensure-environment-protected"),
        null);

    var wsusSmartApprove = new InvolvementModel(
        "WSUS Smart Approve",
        "A command line tool to simplify approvals of Windows Updates using WSUS \\ SUS. Its purpose to approve updates as they are detected as being needed, rather than download a vast amount of unnecessary downloads through following an \"approve all\" approach.",
        GetDPVreonyOrgGithubProject("wsus-smart-approve"),
        null);

    var docFxMermaidJs = new InvolvementModel(
        "DocFx Mermaid Js",
        "A plugin for DocFx to render Mermaid diagrams at build time, rather than per page hit.",
        GetDPVreonyOrgGithubProject("docfx-mermaidjs"),
        null);

    var aspireSpark = new InvolvementModel(
        "Aspire Spark Lab",
        "A proof of concept lab for carrying out development against Apache Spark.",
        GetDPVreonyOrgGithubProject("lab-dotnet-spark"),
        null);

    var reactiveUi = new InvolvementModel(
        "ReactiveUI",
        "ReactiveUI is an MVVM framework for .NET powered by Reactive Extensions.",
        GetReactiveUiOrgGithubProject("reactiveui"),
        null);

    var splat = new InvolvementModel(
        "Splat",
        "Splat is a helper library for assisting in cross platform UI development on .NET that sits underneath ReactiveUI.",
        GetReactiveUiOrgGithubProject("splat"),
        [new ArticleModel("Designing APM in Splat", GetArticle("designing-apm-splat"))]);

    var tiers = new List<TierModel>
    {
        new(
            "Knowledge Management",
            "Projects necessary for a knowledge first approach to projects and content",
            [
                dpvreonyWebsite,
                documentationWebsite
            ]),

        new(
            "Build Support",
            "Projects that support building and maintenance of other projects",
            [
                githubActionsWorkflows,
                netRepoTemplate,
                ensureEnvironmentProtected
            ]),

        new(
            "Development Support",
            "Projects that support development experience of other projects",
            [
                gripe,
                vetuviem,
                netTestRegimentation,
                splat,
                reactiveUi
            ]),

        new(
            "Common Framework Tooling",
            "Common code and utilities shared across multiple projects",
            [
                whipstaff,
                nucleotide
            ]),

        new(
            "Applications and Tools",
            "End solution tools and libraries",
            [
                wsusSmartApprove,
                docFxMermaidJs
            ]),

        new(
            "Labs and Proofs of Concept",
            "Experimental projects, demonstrations and proofs of concept",
            [
                aspireSpark
            ]),
    };
}
<main>
    <h1>Open Source</h1>
    <p>I'm the author of some small open source tools that are aimed at improving processes. I also contribute to the ReactiveUI project (primarily in Splat) to aid with the use of the MVVM pattern within the .NET ecosystem.</p>
    
    @for (var i =0; i < tiers.Count; i++)
    {
        var tier = tiers[i];
        <h2>Tier @(i+1): @tier.Name</h2>
        <p>@tier.Description</p>

        var items = tier.Items.OrderBy(x => x.Title).ToArray();
        @for (var j = 0; j < items.Length; j++)
        {
            var involvement = items[j];

            <div style="border: 2px solid #0066cc; border-radius: 8px; margin-bottom: 20px; overflow: hidden;">
            <h3 style="background-color: #0066cc; color: white; margin: 0; padding: 15px;">@involvement.Title</h3>
            <div style="padding: 15px;">
            <p>@involvement.Description</p>
            @if (involvement.GithubUri != null)
            {
                    <a href="@involvement.GithubUri">Github Project</a>
            }
            @if (involvement.Articles != null && involvement.Articles.Length > 0)
            {
                <h4>Articles</h4>
                <ul>

                @foreach (var article in involvement.Articles)
                {
                    <li><a href="@article.Uri">@article.Title</a></li>
                }
                </ul>
            }
            </div>
            </div>
        }
    }

</main>
@functions
{
    public Uri GetDhgmsOrgGithubProject(string projectName)
    {
        return GetGithubProject("dhgms-solutions", projectName);
    }

    public Uri GetDPVreonyOrgGithubProject(string projectName)
    {
        return GetGithubProject("dpvreony", projectName);
    }

    public Uri GetReactiveUiOrgGithubProject(string projectName)
    {
        return GetGithubProject("reactiveui", projectName);
    }

    public Uri GetGithubProject(string organisationName, string projectName)
    {
        return new Uri($"https://www.github.com/{organisationName}/{projectName}");
    }

    public Uri GetArticle(string articleNameSegment)
    {
        return new Uri($"/articles/{articleNameSegment}/", UriKind.Relative);
    }
}
